$button-bg: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
$button-hover-bg: linear-gradient(90.41deg, #a818da 1.14%, #711f8d 100%);
$button-active-bg: #5e1679;
$button-font-color: #ffffff;
$button-font: 'Karla', sans-serif;

.button {
  height: 40px;
  cursor: pointer;
  background: $button-bg;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.1em;
  color: $button-font-color;
  font-family: $button-font;
  transition: all 0.3s ease;

  &:hover {
    background: $button-hover-bg;
  }
  &:active {
    background: $button-active-bg;
  }
}
